@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*  
  black-bg : #1F2937
  white-text: #F9FAF8
  black-text: #1F2937 
  blue-color: #3882f6
*/

body * {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Verdana, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 10px 50px;
  flex: 0 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: 800;
}

ul.links {
  display: flex;
  list-style-type: none;
  gap: 12px;
}

a {
  text-decoration: none;
  color: #3882f6;
}

li a  {
  color: #b2b5b0
}

.main .hero {
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.left, .right {
  flex: 0 1 40%;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

img {
  max-width: 400px;
  border-radius: 10px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero-secondary-text {
  font-size: 18px;
  color: #bfbfc1;
}

.btn {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #3882f6;
  color: white;
  font-weight: 1000;
}

.left .btn {
  align-self: flex-start;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 2rem;
}

.infos-container {
  display: flex;
  justify-content: center;
  flex: 0;
  gap: 15px;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0;
}

.fake-img {
  border: 6px solid #3882f6;
  border-radius: 15px;
  height: 100px;
  width: 100px;
  margin: 0 auto 10px auto;
}

.infos-text {
  text-align: center;
}

 h2 {
  font-size: 38px;
  font-weight: 900;
  color: #1F2937;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
}

.quote-text {
  font-size: 38px;
  font-weight: 90;
  color: #1F2937;
}

.quote-author {
  text-align: right;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.window-container {
  background-color: #3882f6;
  color: #F9FAF8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.border-white {
  border: 2px solid white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: #F9FAF8;
}